apiVersion: v2
version: 8.6.7
name: yourls
description: Your Own URL Shortener
# renovate: image=ghcr.io/yourls/yourls
appVersion: "1.10.3"
type: application
keywords:
  - shortener
  - url
  - bitly
home: https://yourls.org
icon: https://yourls.org/images/yourls-logo.svg
sources:
  - https://github.com/YOURLS/YOURLS
  - https://github.com/YOURLS/charts
maintainers:
  - name: YOURLS
    url: https://github.com/YOURLS
  - name: LeoColomb
    url: https://github.com/LeoColomb
kubeVersion: ^1.23.0-0
dependencies:
  - name: common
    repository: oci://registry-1.docker.io/bitnamicharts
    version: ^2.34.0
    tags:
      - bitnami-common
  - name: mariadb
    version: ^24.1.0
    repository: oci://registry-1.docker.io/bitnamicharts
    condition: mariadb.enabled
    tags:
      - yourls-database
annotations:
  artifacthub.io/images: |
    - name: yourls
      image: ghcr.io/yourls/yourls:1.10.3
    - name: busybox
      image: docker.io/busybox:1.37.0
    - name: apache-exporter
      image: docker.io/lusotycoon/apache-exporter:v1.0.12
  artifacthub.io/license: MIT
  artifacthub.io/links: |
    - name: Upstream Project
      url: https://github.com/YOURLS/YOURLS
  artifacthub.io/signKey: |
    fingerprint: 6FCD850E18E4A4FF76DD1184A3A42A61961E423F
    url: https://yourls.org/.well-known/openpgpkey/hu/6e4gbtp15q1znf3unweeducn7urty4mr
  artifacthub.io/changes: |
    - kind: changed
      description: New release
      links:
        - name: Changelog on GitHub Releases
          url: https://github.com/YOURLS/charts/releases?q=yourls-
